/*<!--Auteur Koffi Eklou -->*/
.page{
    margin-top: 10vh;
    text-align: center;
}

/* === FAQ FULL WIDTH & CENTERED === */
.faq {
    width: 100%;
    margin: 10px auto;
}

/* Agrandir les questions (summary) */
.faq details summary {
    font-size: 2.0rem;
    font-weight: bold;
    padding: 35px;
    background: white;
    border: 3px solid #ffb9d1;
    border-radius: 15px;
    cursor: pointer;
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    transition: 0.3s ease;
}

/* Applique automatiquement la classe aux icônes */
.faq details summary::before {
    content: attr(data-icon);
    margin-right: 12px;
    font-size: 1.8rem;
    filter: drop-shadow(0 3px 3px rgba(0,0,0,0.15));
}
/* Hover gris */
.faq details summary:hover {
    background: #f5f5f5;
}



/* Réponses */
.faq details p {
    padding: 25px 25px;
    font-size: 1.7rem;
    background: #fff7fa;
    border-radius: 0 0 12px 12px;
    border: 2px solid #f86292;

}

/* === Responsive (mobile) === */
@media (max-width: 1300px) {

    .page{
        margin-top: 10vh;
        text-align: center;
    }
    .faq details p {
        font-size: 1.20rem;
    }

    .faq details summary {
        font-size: 2.5rem;
    }

    .footerContainer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px; /* espace vertical entre les blocs */
    }

    .footerAbout,
    .footerLinks,
    .footerSocials {
        margin: 0; /* pas de marges supplémentaires */
    }
}

