/*<!--Auteur Koffi Eklou -->*/
    .Slogan3 {
        max-width: 800px;
        margin: 125px auto 0 auto;
        font-size: 40px;
        text-align: center;
        font-weight: bold;
        color: #000;
    }


/* ===== FORMULAIRES ===== */
.formWrapper {
    width: 100%;
    max-width: 900px;
    margin: 30px auto;
    background: #f4e3fd; /* violet clair léger */
    border: 2px solid black;
    border-radius: 18px;
    padding: 30px 35px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.10);
}

/* Fieldset */
.formWrapper fieldset {
    border: 2px solid black;
    border-radius: 14px;
    padding: 20px  18px ;
    margin-top: 30px;
}


.formWrapper legend {
    font-weight: bold;
    font-size: 35px;
    margin: 0 auto 0 auto;
}

/* Labels et inputs */
.formWrapper label {
    display: block;
    margin-bottom: 8px;
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
}

.formWrapper input,
.formWrapper select,
.formWrapper textarea {
    width: 100%;
    border: 2px solid black;
    border-radius: 12px;
    padding: 12px;
    font-size: 16px;
    background: white;
}

/* Boutons */

.formWrapper button {
    width: 48%;
    padding: 14px;
    border: 2px solid black;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 24px;
}

.formButtons {
    margin-top: 15px;
}

.ctaMain {
    background: #e4e4e4;
    color: black;
}

.btnReset {
    background: #e4e4e4;
    color: black;
}
.ctaMain:hover, .btnReset:hover
{
    transform: scale(1.02) translateY(4px);
    background-color: #d3d3d3;
    transition: transform 0.4s ease;
}

.fonctionnalites {
    border: 2px solid #000;
    padding: 18px;
    border-radius: 14px;
    margin-bottom: 20px;
}

.fonctionnalites label {
    display: block;
    font-size: 25px;
    padding: 6px 0;
}

.extraTitle {
    margin-top: 10px;
    font-weight: bold;
    font-size: 28px;
}

.extraList {
    margin: 0;
    padding-left: 20px;
    font-size: 28px;
}

.extraList li {
    margin-top: 25px;
    margin-bottom: 4px;
    font-size: 25px;
}

    /* conteneur du label */
    .checkboxStyle {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 40px;
        font-size: 25px;
        padding: 10px 0;
        margin-bottom: 30px;
        cursor: pointer;
    }


    .checkboxStyle input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        width: 24px;
        height: 24px;
        border: 2px solid #000;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
    }
    .checkboxStyle input[type="checkbox"]:checked {
        background-color: #000;
    }
    .checkboxStyle input[type="checkbox"]:checked::after {
        content: "✓";
        color: white;
        position: absolute;
        top: -2px;
        left: 4px;
        font-size: 18px;
    }
