/*<!--Auteur Koffi Eklou -->*/

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family:'ABeeZee', sans-serif;
    background: white;
    color: #000;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 20px;
}

.legal-container {
    max-width: 800px;
    background: #fff;
    border-radius: 18px;
    padding: 30px 35px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 35px;
    text-decoration: underline;
}

h2 {
    margin-top: 20px;
    font-size: 32px;
}

p {
    margin-top: 20px;
    line-height: 1.8;
    margin-bottom: 10px;
    color: black;
    font-size: 28px;
}