/*<!--Auteur Koffi Eklou -->*/

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

/* === GENERAL === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body,html {
    background: white;
    color: #222;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'ABeeZee', sans-serif;
}

section {
    padding: 80px 40px;
    text-align: center;
}


/* === NAVBAR === */
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5vw;
    backdrop-filter: blur(8px);
    background: linear-gradient(180deg, rgba(255,246,248,0.7), rgba(255,233,240,0.7));
    z-index: 1000;
}


.logo img {
    height: 60px;
    width: auto;
    border-radius: 15px;
}

/*3. MENU BURGER */

.menuIcon::before { content: "\2630"; }
.menuIcon:hover { transform: translateX(-50%) scale(1.1); }

.menuIcon {
    position: absolute;
    left: 97%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 40px;
    color: black;
    transition: transform 0.3s ease;
}

/* Checkbox */
#menuToggle{
    display: none;
}
/* NAV LINKS */
.navi {
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 0.5vw;
    background: white;
    padding: 0.4vw 0.8vw;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0.5vw;
    border: 2px solid black;
    z-index: 100;
}


.navi a {
    position: static;
    font-weight: bold;
    font-size: 27px;
    color: black;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;


}
.navi a:hover {
    color: #ff4da6;
    transform: scale(1.05);
}

#menuToggle:checked + .menuIcon + .navi {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

/* === 4. HERO ===================================*/

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-height: 650px;
    margin-bottom: 50px;
}

/* IMAGE DE DROITE */
.imagePlaceholder {
    width: 460px;
    height: 300px;
    margin: 100px 0 350px;
    border-radius: 15px;
    background: url(../images/background.png) center/cover no-repeat;
}

/* BLOC TEXTE */

.overlay {
    flex: 1 1 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 280px;
    padding-top: 50px;
}


/* LIGNE DES 3 TEXTES ANIMÉS */
.fadeInDelay1 {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    width: 150%;
    max-width: 900px;
    margin-top: 40px;
    animation: float-breath 5s ease-in-out infinite alternate;
    font-family: Arial, sans-serif;
}

@keyframes float-breath {
    0%   { transform: translateY(0) scale(1); }
    25%  { transform: translateY(-4px) scale(1.03); }
    50%  { transform: translateY(-8px) scale(1.06); }
    75%  { transform: translateY(-4px) scale(1.03); }
    100% { transform: translateY(0) scale(1); }
}

.bottomText1,
.bottomText2,
.bottomText3 {
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0;
}

.Slogan {
    font-size: 40px;
    font-weight: bold;
}

/* === SATISFACTION === */
.satisfaction {
    text-align: center;
    gap: 15px;
    margin-bottom: 260px;
    margin-left: -35px;
}

.stars{
    margin-top: 10px;

}
.stars span {
    color: lightpink;
    margin-top: 30px;
    font-size: 40px;
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
    text-shadow: 1px 1px 5px rgb(255, 182, 193);
}

.stars span:hover {
    transform: scale(1.3);
    color: #ff0b95;
}

.avis {
    font-size: 25px;
    color: black;
    font-weight: bold;
}


/* === 6. BOUTONS GLOBAL ===================================*/
.cta,
.cta2,
.CTA,
.CTA1,
.CTA2 {
    font-family: 'ABeeZee', sans-serif;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s ease, transform 0.3s ease;
    border-radius: 20px;
}

.cta {
    font-size: 25px;
    color: white;
    background: pink;
    padding: 12px 28px;
}
.cta:hover { background: deeppink; transform: scale(1.05); }
.cta:hover { background: deeppink; transform: scale(1.05); }

.cta2 {
    font-size: 20px;
    color: black;
    background: white;
    border: 2px solid black;
    padding: 9px 18px;
    width: 200px;
}

.cta2:hover { background: black; color: white; }
.CTA2:hover { background: deeppink; transform: scale(1.05); }

.CTA,.CTA2  {
    font-size: 25px;
    color: white;
    background: black;
    padding: 12px 28px;
    width: 250px;
}
.CTA:hover { background: darkblue; transform: scale(1.05); }

/*CTA PROCESSUS + formulaire */
.CTA1 {
    font-size: 20px;
    color: white;
    background: black;
    padding: 12px 28px;
    width: 200px;
}
.CTA1:hover { background: #8900ff; transform: scale(1.05); }

/*TEXTE ESTHENEED + FAQ */
.fadeInDelay2 {
    font-family: 'ABeeZee', sans-serif;
    font-size: 29px;
    line-height: 1.6;
    color: black;
    margin: 0 auto 40px auto;  /* centre horizontalement le paragraphe */
    max-width: 800px;
    text-align: center;         /* centre le texte */
}

.Slogan2 {
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 20px 0;        /* supprime toute marge gauche */
    color: #000;
}


.highlight { color: deeppink; }

/* === 7. CARDS ===================================*/
.card {
    background: white;
    border-radius: 15px;
    padding: 25px;
    margin: 15px 0;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease;
}

.card:hover {
    transform: translateY(-8px);
}
.card .icon {
    font-size: 36px;
    margin-bottom: 15px;
}
.card h3 {
    font-weight: bold;
    font-size: 1.7em;
    margin-bottom: 10px;
    color: #111;
}
.card p {
    font-size: 1.6em;
    color: black;
    margin-bottom: 20px;
    line-height: 1.5em;
}



/* OVERVIEW */
.overview {
    padding: 80px 20px;
    background: linear-gradient(180deg, #fff6f8, #ffe9f0);
    text-align: center;
}

.overview .card {
    max-width: 700px;
    width: 90%;
    border-radius: 20px; /* override volontaire */
    margin-left: auto;
    margin-right: auto;
}

.arrow {
    font-size: 28px;
    margin: 15px 0;
}


/* === 8. PORTFOLIO ===================================*/
.portfolioH2 {
    color: darkblue;
    font-size: 40px;
    margin-bottom: 20px;
}

.portfolioGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 70px;
}

.portfolioGrid img {
    width: 100%;
    max-width: 400px;
    height: 450px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}
.portfolioGrid img:hover {
    transform: scale(1.03);
}

.portfolioText {
    font-size: 33px;
    color: black;
    text-align: center;
    margin-bottom: 30px;
    padding: 0 10%;
    line-height: 1.5em;
}
/* MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 9999 !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.9);
    padding-top: 60px;
}
.modal img {
    display: block;
    margin: auto;
    max-width: 90%;
    max-height: 85vh;
    border-radius: 10px;
}
.modal:target { display: block; }

.close {
    position: absolute;
    top: 30px;
    right: 50px;
    z-index: 10000 !important;
    color: white;
    font-size: 40px;
    text-decoration: none;
}


/* ===  AUTRE CSS ========================================= */

.X {
    margin: 20vh auto 5vh;
    padding: 30px;
    max-width: 800px;
    background: white;
    border: 2px solid deeppink;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 6px 14px rgba(0,0,0,0.08);
    transition: transform 0.4s;
}

.X h3{
    font-size: 33px;
}

.X p {
    font-size: 25px;
    line-height: 1.6;
    margin-bottom: 15px;
}


.X strong {
    font-size: clamp(18px, 2.3vw, 22px);
    color: black;
}


.X:hover  { transform: translateY(-8px);}
/* === TABLEAU COMPARATIF ========================================= */

.comparatif {
    width: 90%;
    transform: translateY(25px);
    margin: 0 auto 80px;
    border-collapse: collapse;
    border: 2px solid black;
    border-radius: 15px;
    animation: fadeUp 0.8s forwards;
    overflow: hidden; /* pour arrondi correct */
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.17);
}

/* HEADER DU TABLEAU PROCESS */

.comparatif thead tr th {
    font-size: clamp(18px, 2vw, 22px);
    padding: 15px;
    color: black;
    text-align: center;
    border: 1px solid black;
    background-color: #d7c2f0; /* trait noir autour */
}
.comparatif thead tr th:nth-child(1) {
    font-size: clamp(23px, 2vw, 22px);
    padding: 15px;
    color: #ffffff;
    text-align: center;
    border: 1px solid black;
    background-color: #d7c2f0; /* trait noir autour */
}

.comparatif tbody th.row {
    font-weight: bold;
    border: 1px solid black;            /* trait noir autour */
    text-align: center;
    vertical-align: middle;             /* centre verticalement */
    padding: 15px;
    color: white;
    background-color: #d7c2f0; color: #000; /* léger fond rose */
}

.comparatif tbody td {
    font-family: 'ABeeZee', sans-serif;
    padding: 18px 15px;
    text-align: center;
    vertical-align: middle;              /* centre verticalement */
    font-size: clamp(30px, 1.8vw, 28px);
    border: 2px solid black;
    width: 40%

}


.comparatif tbody tr th.row {
    padding: 18px 15px;
    font-size: clamp(14px, 1.8vw, 16px);
    border-bottom: 1px solid #ddd;
    border: 2px solid black !important;
    color: black;
    font-size: 25px;
}

.cross::before {
    content: "✘ ";
    color: #cc3333;
    font-weight: bold;
}

.check::before {
    content: "✔ ";
    color: #d4759d;
    font-weight: bold;

}

/* Animation keyframes */

.comparatif tbody tr {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeSlideUp 0.8s forwards;
}

.comparatif tbody tr:nth-child(1) { animation-delay: 0.2s; }
.comparatif tbody tr:nth-child(2) { animation-delay: 0.4s; }
.comparatif tbody tr:nth-child(3) { animation-delay: 0.6s; }
.comparatif tbody tr:nth-child(4) { animation-delay: 0.8s; }
.comparatif tbody tr:nth-child(5) { animation-delay: 1s; }
.comparatif tbody tr:nth-child(6) { animation-delay: 1.2s; }


@keyframes fadeSlideUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.comparatif tbody tr:hover td {
    background-color: rgba(0,0,0,0.05); /* léger gris pour mettre en valeur */
}

/* === Séparateur changeant du bleu Portfolio/Footer === */
.separator1 {
    height: 5px;
    background: linear-gradient(90deg, #ff91b6, #ffc8d9);
    width: 100%;
    margin: 20px 0;
}




/* FOOTER */
.footer {
    width: 100%;
    background: #fff;
    padding: 80px 5vw 40px;
}


.footerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    max-width: 1200px;
    margin: auto;
    padding: 0 5vw;  /* gauche et droite égaux pour rester centré */
}


.footerAbout,.footerLinks {
    flex: 1;
    min-width: 250px;
    margin-right: 0;
    text-align: center;
}

.footerAbout h3 {
    font-size: 2.0em;
    color: #000;
    margin-bottom: 10px;
}
.footerLinks h3  {
    font-size: 2.1em;
    margin-top: 5px;
}


.footerAbout p {
    color: #333;
    font-size: 1.4em;
}


.footerLinks ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 1.3em;
}
.footerLinks a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.2s ease;
}

.footerLinks a:hover {
    color: #ff4da6;
    transform: scale(1.05);
}


.footerSocials {
    flex: 1;
    min-width: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}
.footerSocials img {
    width: 55px;
    height: 55px;
    transition: transform 0.3s ease;
    max-width: 100%;
}

.footerSocials img:hover {
    transform: scale(1.1);
}


.footerCopy {
    text-align: center;
    font-size: 0.9em;
    color: #666;
    margin-top: 30px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}


/* SEPARATOR */
.separator {
    height: 5px;
    background: darkblue;
    width: 100%;
    margin: 20px 0;
}

/* ====== RESPONSIVE ====== */

@media (max-width: 1130px) {
    .imagePlaceholder { display: none !important; }


    .hero { flex-direction: column; }
    .fadeInDelay1 {
        flex-direction: column;
        gap: 15px;
        max-width: 350px;
        width: 100%;
    }


    .bottomText1,
    .bottomText2,
    .bottomText3 {
        font-size: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;  /* centre les cartes */
        gap: 40px;
    }

    .portfolioGrid{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;  /* centre les cartes */
        gap: 40px;
    }


    .Slogan { font-size: 26px; }
    .portfolioText { font-size: 18px; padding: 0 5%; }

    .close {
        right: 20px;
        z-index: 10000 !important;
    }

    @media (max-width: 1270px) {
        .fadeInDelay1 {
            width: 100%;
            max-width: 100%;
        }
    }}

